:root {
    --be-color-primary: #cb6586;
    --be-color-danger: #f56c6c;
    --be-text-color: #333;
    --be-layout-header-text-color: #fff;
    --be-layout-content-background-color: #f0f2f5;

    --be-border-radius: 2px;
}
